@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_AdminLayout";
}

@model IEnumerable<Services.EntityModels.User>
<style type="text/css">

    body {
        overflow-x: hidden;
        font-family: sans-serif !important;
    }

  

    .main-panel {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 1%;
        margin-right: -6%;
        border-radius: 25px;
    }

    .img-thumbnail {
        padding: 0px;
        background-color: #fff;
        max-width: 100%;
        height: auto;
        border: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        min-height: 650px;
        width: 100%;
        object-fit: cover;
    }

    .passwordlength {
        color: red;
        font-weight: 300;
        font-size: 13px;
        display: none;
    }

    .passwordmatch {
        color: red;
        font-weight: 300;
        font-size: 13px;
        display: none;
    }

    .no-padding {
        padding: 0px !important;
    }

    .container-fluid {
        margin-left: 43px;
        padding-right: 100px;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 15px;
        text-align: center;
        color: #15c2de;
    }

    .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
        color: white;
        font-family: open-sans;
        font-size: 20px;
        font-weight: 500;
    }

    .email-message {
        color: red;
        font-weight: 300;
        font-size: 13px;
        display: none;
    }
    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffff;
    }

    .required-sign-left {
        padding-left: 45px;
        padding-top: 14px;
        color: #ff0000;
    }

    .required-sign-right {
        overflow: hidden;
        display: block;
        position: absolute;
        padding-left: -6px;
        padding-top: 13px;
        margin-left: -26px;
        color: #ff0000;
    }

    .required-field {
        border-bottom: 1px solid red !important;
    }

    .login-container {
        padding-left: 40px;
    }

    .form-row > .col, .form-row > [class*=col-] {
        padding-right: 15px;
        padding-left: 15px;
    }

    .form-control {
        float: right;
        width: calc(100% - 20px);
    }

    span.req-asterisk {
        width: 20px;
        float: left;
        color: red;
        padding-top: 15px;
        display: block;
    }

    body.blue {
        background-color: #019494;
    }

    body.magenta {
        background-color: #FF00FF;
    }

    .col-sm-12 {
        margin-bottom: 15px;
    }

</style>

<div class="col-sm-12">
    <h3 class="h3 header">Please Provide Informations To Proceed</h3>
    <div class="row">
        <div class="col-sm-12">
            <!-- Horizontal material form -->
            <form action="~/Admin/TeamCreate" method="post">

                <div class="login-container">
                    <div class="form-row">
                        <div class="col-sm-12">
                            <div class="md-form mt-0">
                                <span class="req-asterisk">*</span>
                                <input type="text" class="form-control required" name="TeamName" id="TeamName" placeholder="Team Name">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="md-form mt-0">
                                <span class="req-asterisk">*</span>
                                <input type="text" class="form-control required" name="TeamSize" id="TeamSize" placeholder="Team Size">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form mt-0">
                                <div class="dropdown" style="margin-left: 20px;">
                                    <label for="Equipments" class="visually-hidden">Equipment Name </label>
                                    <select name="Equipments" id="Equipments">
                                        <option value="Desktop">Desktop</option>
                                        <option value="Laptop">Laptop</option>
                                        <option value="Printer">Printer</option>

                                    </select>
                                    <button type="button" calss="btn btn-primary" style="color: #fff; background-color: #337ab7;border-color: #2e6da4;display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;
-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;background-image: none;border: 1px solid transparent;
 padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
" onclick="AddEquipment();"> Add Equipment</button>

 <button type="button" calss="btn btn-primary" style="color: #fff; background-color: #337ab7;border-color: #2e6da4;display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;
-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;background-image: none;border: 1px solid transparent;
 padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
" onclick="ResetEquipment();"> Reset Equipment</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form mt-0">
                                <span class="req-asterisk">*</span>
                                <textarea type="text" class="form-control required" name="EquipmentDetails" id="EquipmentDetails" readonly="readonly" placeholder="Equipment Details" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form mt-0">
                                <div class="dropdown" style="margin-left: 20px;">
                                    <label for="ManagerId" class="visually-hidden">Select Manager </label>
                                    <select name="ManagerId" id="ManagerId">

                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Id">@item.LastName</option>
                                        }


                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-sm-10">
                            </div>
                            <div class="col-sm-11">
                            </div>
                            <div class="col-sm-1">
                                <input type="submit" onclick="return CommonValidation();" class="btn btn-primary" value="Submit" />
                            </div>
                        </div>

                    </div>

                </div>

            </form>
            <!-- Horizontal material form -->


            <div class="col-sm-1"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var clickCounter =0;
    var finalText="";
    function AddEquipment()
    {

        var equipmentValues = $( "#Equipments option:selected" ).text();

        if(clickCounter==0){
            finalText = finalText+equipmentValues;
        }
        else{
             finalText = finalText+ "," + equipmentValues;
        }
        $("#EquipmentDetails").val("");
        $("#EquipmentDetails").val(finalText);
        clickCounter = clickCounter + 1;
    }

    function ResetEquipment(){
         $("#EquipmentDetails").val("");
           finalText ="";
           clickCounter =0;
    }
</script>