@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "_ManagerLayout";
}

<style type="text/css">

    span.cls_003 {
        font-family: Arial,serif;
        font-size: 2.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    div.cls_003 {
        font-family: Arial,serif;
        font-size: 2.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    span.cls_004 {
        font-family: Arial,serif;
        font-size: 2.6px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    div.cls_004 {
        font-family: Arial,serif;
        font-size: 2.6px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    span.cls_005_normal {
        font-family: "Calibri",serif;
        font-size: 10.4px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }



    span.cls_005 {
        font-family: "Calibri",serif;
        font-size: 10.4px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        padding: 1px;
        border: 5px solid #30b820;
        margin-left: -19px;
        cursor: pointer;
    }

    span.cls_005_gray {
        font-family: "Calibri",serif;
        font-size: 10.4px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        padding: 1px;
        border: 5px solid #9e9e9e;
        margin-left: -19px;
        cursor: pointer;
    }



    span.cls_002 {
        font-family: Arial,serif;
        font-size: 9.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    div.cls_002 {
        font-family: Arial,serif;
        font-size: 9.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    span.cls_006_normal {
        font-family: Arial,serif;
        font-size: 12.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    span.cls_006{
        font-family: Arial,serif;
        font-size: 12.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        padding: 2px 17px;
        border: 5px solid #30b820;
        margin-left: -19px;
    }

    div.cls_006 {
        font-family: Arial,serif;
        font-size: 12.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    span.cls_010 {
        font-family: Arial,serif;
        font-size: 12.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: underline
    }

    div.cls_010 {
        font-family: Arial,serif;
        font-size: 12.1px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    span.cls_008 {
        font-family: Arial,serif;
        font-size: 4.9px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    div.cls_008 {
        font-family: Arial,serif;
        font-size: 4.9px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    span.cls_007 {
        font-family: "Calibri",serif;
        font-size: 4.6px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    div.cls_007 {
        font-family: "Calibri",serif;
        font-size: 4.6px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    span.cls_009 {
        font-family: "Calibri",serif;
        font-size: 13.9px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    div.cls_009 {
        font-family: "Calibri",serif;
        font-size: 13.9px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

</style>
<script type="text/javascript" src="199fe278-80b4-11ec-a980-0cc47a792c0a_id_199fe278-80b4-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>

<div style="position:absolute;left:50%;margin-left:-396px;top:0px;width:792px;height:1224px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
        <img src="~/background1.jpg" width=792 height=1224>
    </div>
    <div style="position:absolute;left:593.92px;top:73.40px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:428.92px;top:78.68px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:576.64px;top:78.20px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:461.08px;top:88.40px" class="cls_005" id="T201" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T201");'><span class="cls_005">T201</span></div>
    <div style="position:absolute;left:531.04px;top:88.40px" class="cls_005" id="T202" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T202");'><span class="cls_005">T202</span></div>
    <div style="position:absolute;left:609.88px;top:87.44px" class="cls_005" id="T203" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T203");'><span class="cls_005">T203</span></div>
    <div style="position:absolute;left:672.28px;top:89.24px" class="cls_005" id="T204" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T204");'><span class="cls_005">T204</span></div>
    <div style="position:absolute;left:389.20px;top:135.80px" class="cls_002"><span class="cls_002">UP</span></div>
    <div style="position:absolute;left:340.60px;top:163.52px" class="cls_006"><span class="cls_006_normal">S</span><span class="cls_010">TAIRS</span><span class="cls_006_normal">1</span></div>
    <div style="position:absolute;left:357.04px;top:180.20px" class="cls_006"><span class="cls_006_normal">121</span></div>
    <div style="position:absolute;left:601.36px;top:191.24px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:656.32px;top:191.24px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:630.28px;top:192.32px" class="cls_005" id="T205" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T205");'><span class="cls_005">T205</span></div>
    <div style="position:absolute;left:685.24px;top:192.32px" class="cls_005" id="T206" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T206");'><span class="cls_005">T206</span></div>
    <div style="position:absolute;left:323.44px;top:238.40px" class="cls_010"><span class="cls_010">ELEV.</span></div>
    <div style="position:absolute;left:615.64px;top:247.64px" class="cls_008"><span class="cls_008">AA</span></div>
    <div style="position:absolute;left:670.60px;top:247.64px" class="cls_008"><span class="cls_008">AA</span></div>
    <div style="position:absolute;left:330.04px;top:254.96px" class="cls_006"><span class="cls_006_normal">130</span></div>
    <div style="position:absolute;left:451.24px;top:269.96px" class="cls_006"><span class="cls_006_normal">MEETING</span></div>
    <div style="position:absolute;left:149.44px;top:277.52px" class="cls_006"><span class="cls_006_normal">MEETING</span></div>
    <div style="position:absolute;left:630.28px;top:280.52px" class="cls_005" id="T207" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T207");'><span class="cls_005">T207</span></div>
    <div style="position:absolute;left:685.24px;top:280.52px" class="cls_005" id="T208" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T208");'><span class="cls_005">T208</span></div>
    <div style="position:absolute;left:460.00px;top:283.52px" class="cls_010"><span class="cls_010">ROOM</span></div>
    <div style="position:absolute;left:158.20px;top:291.08px" class="cls_010"><span class="cls_010">ROOM</span></div>
    <div style="position:absolute;left:468.40px;top:300.44px" class="cls_006"><span class="cls_006" id="119" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("119");'>119</span></div>
    <div style="position:absolute;left:233.08px;top:305.96px" class="cls_006"><span class="cls_006_normal">CO</span><span class="cls_010">RRIDO</span><span class="cls_006_normal">R</span></div>
    <div style="position:absolute;left:166.60px;top:308.00px" class="cls_006"><span class="cls_006" id="106" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("106");'>106</span></div>
    <div style="position:absolute;left:255.64px;top:322.52px" class="cls_006"><span class="cls_006_normal">109</span></div>
    <div style="position:absolute;left:601.36px;top:329.84px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:656.32px;top:329.84px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:630.28px;top:330.92px" class="cls_005" id="T209" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T209");'><span class="cls_005">T209</span></div>
    <div style="position:absolute;left:685.24px;top:330.92px" class="cls_005" id="T210" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T210");'><span class="cls_005">T210</span></div>
    <div style="position:absolute;left:442.96px;top:342.20px" class="cls_006"><span class="cls_006_normal">MEETING</span></div>
    <div style="position:absolute;left:342.40px;top:354.80px" class="cls_010"><span class="cls_010">VAULT</span></div>
    <div style="position:absolute;left:451.72px;top:355.76px" class="cls_006"><span class="cls_006_normal">ROOM</span></div>
    <div style="position:absolute;left:175.60px;top:370.76px" class="cls_006"><span class="cls_006_normal">MEETING</span></div>
    <div style="position:absolute;left:351.40px;top:371.36px" class="cls_006"><span class="cls_006" id="120" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("120");'>120</span></div>
    <div style="position:absolute;left:615.64px;top:386.24px" class="cls_008"><span class="cls_008">AA</span></div>
    <div style="position:absolute;left:670.60px;top:386.24px" class="cls_008"><span class="cls_008">AA</span></div>
    <div style="position:absolute;left:184.36px;top:384.20px" class="cls_006"><span class="cls_006_normal">ROOM</span></div>
    <div style="position:absolute;left:463.12px;top:401.96px" class="cls_007"><span class="cls_007">54DIA</span></div>
    <div style="position:absolute;left:461.80px;top:412.16px" class="cls_006"><span class="cls_006" id="118" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("118");'>118</span></div>
    <div style="position:absolute;left:630.28px;top:419.12px" class="cls_005" id="T211" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T211");'><span class="cls_005">T211</span></div>
    <div style="position:absolute;left:685.24px;top:419.12px" class="cls_005" id="T212" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T212");'><span class="cls_005">T212</span></div>
    <div style="position:absolute;left:197.20px;top:432.56px" class="cls_007"><span class="cls_007">36X72</span></div>
    <div style="position:absolute;left:46.00px;top:452.12px" class="cls_006"><span class="cls_006_normal">LIG</span><span class="cls_010">HTWE</span><span class="cls_006_normal">LL</span></div>
    <div style="position:absolute;left:191.32px;top:457.16px" class="cls_006"><span class="cls_006" id="107" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("107");'>107</span></div>
    <div style="position:absolute;left:601.36px;top:468.44px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:656.32px;top:468.44px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:340.36px;top:463.04px" class="cls_006"><span class="cls_006_normal">E</span><span class="cls_010">NCLAV</span><span class="cls_006_normal">E</span></div>
    <div style="position:absolute;left:448.96px;top:462.20px" class="cls_006"><span class="cls_006_normal">K</span><span class="cls_010">ITCHE</span><span class="cls_006_normal">N</span></div>
    <div style="position:absolute;left:71.68px;top:468.68px" class="cls_006"><span class="cls_006" id="129" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("129");'>129</span></div>
    <div style="position:absolute;left:630.28px;top:469.40px" class="cls_005" id="T213" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T213");'><span class="cls_005">T213</span></div>
    <div style="position:absolute;left:685.24px;top:469.40px" class="cls_005" id="T214" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T214");'><span class="cls_005">T214</span></div>
    <div style="position:absolute;left:174.04px;top:476.36px" class="cls_006"><span class="cls_006_normal">MEETING</span></div>
    <div style="position:absolute;left:358.24px;top:479.60px" class="cls_006"><span class="cls_006" id="123" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("123");'>123</span></div>
    <div style="position:absolute;left:464.92px;top:478.76px" class="cls_006"><span class="cls_006_normal">122</span></div>
    <div style="position:absolute;left:182.80px;top:489.92px" class="cls_006"><span class="cls_006_normal">ROOM</span></div>
    <div style="position:absolute;left:615.64px;top:524.84px" class="cls_008"><span class="cls_008">AA</span></div>
    <div style="position:absolute;left:670.60px;top:524.84px" class="cls_008"><span class="cls_008">AA</span></div>
    <div style="position:absolute;left:197.32px;top:537.20px" class="cls_007"><span class="cls_007">36X72</span></div>
    <div style="position:absolute;left:306.64px;top:553.04px" class="cls_006"><span class="cls_006_normal">OPENOFFICE</span></div>
    <div style="position:absolute;left:630.28px;top:557.72px" class="cls_005" id="T215" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T215");'><span class="cls_005">T215</span></div>
    <div style="position:absolute;left:685.24px;top:557.72px" class="cls_005" id="T216" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T216");'><span class="cls_005">T216</span></div>
    <div style="position:absolute;left:191.20px;top:563.12px" class="cls_006"><span class="cls_006" id="108" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("108");'>108</span></div>
    <div style="position:absolute;left:331.00px;top:566.48px" class="cls_006"><span class="cls_006_normal">AREA</span></div>
    <div style="position:absolute;left:337.12px;top:583.52px" class="cls_006"><span class="cls_006_normal">114</span></div>
    <div style="position:absolute;left:658.96px;top:599.00px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:122.32px;top:606.32px" class="cls_006"><span class="cls_006_normal">CO</span><span class="cls_010">RRIDO</span><span class="cls_006_normal">R</span></div>
    <div style="position:absolute;left:307.12px;top:618.20px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:357.76px;top:618.20px" class="cls_004"><span class="cls_004">1</span></div>
    <div style="position:absolute;left:465.76px;top:618.20px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:516.28px;top:618.20px" class="cls_004"><span class="cls_004">1</span></div>
    <div style="position:absolute;left:145.00px;top:622.88px" class="cls_006"><span class="cls_006_normal">110</span></div>
    <div style="position:absolute;left:658.24px;top:634.76px" class="cls_005" id="T237" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T237");'><span class="cls_005">T237</span></div>
    <div style="position:absolute;left:303.88px;top:649.04px" class="cls_005" id="T217" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T217");'><span class="cls_005">T217</span></div>
    <div style="position:absolute;left:391.60px;top:649.04px" class="cls_005" id="T218" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T218");'><span class="cls_005">T218</span></div>
    <div style="position:absolute;left:462.52px;top:649.04px" class="cls_005" id="T221" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T221");'><span class="cls_005">T221</span></div>
    <div style="position:absolute;left:550.24px;top:649.04px" class="cls_005" id="T222" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T222");'><span class="cls_005">T222</span></div>
    <div style="position:absolute;left:658.24px;top:655.40px" class="cls_005" id="T238" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T238");'><span class="cls_005">T238</span></div>
    <div style="position:absolute;left:388.12px;top:668.36px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:405.76px;top:668.36px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:546.76px;top:668.36px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:564.28px;top:668.36px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:307.12px;top:673.16px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:465.76px;top:673.16px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:38.68px;top:704.72px" class="cls_006"><span class="cls_006_normal">S</span><span class="cls_010">HOWE</span><span class="cls_006_normal">R</span></div>
    <div style="position:absolute;left:303.88px;top:704.00px" class="cls_005" id="T219" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T219");'><span class="cls_005">T219</span></div>
    <div style="position:absolute;left:391.60px;top:704.00px" class="cls_005" id="T220" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T220");'><span class="cls_005">T220</span></div>
    <div style="position:absolute;left:462.52px;top:704.00px" class="cls_005" id="T223" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T223");'><span class="cls_005">T223</span></div>
    <div style="position:absolute;left:550.24px;top:704.00px" class="cls_005" id="T224" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T224");'><span class="cls_005">T224</span></div>
    <div style="position:absolute;left:98.32px;top:714.92px" class="cls_006"><span class="cls_006_normal">W</span><span class="cls_010">OMEN</span><span class="cls_006_normal">S</span></div>
    <div style="position:absolute;left:209.68px;top:714.92px" class="cls_010"><span class="cls_010">MENS</span></div>
    <div style="position:absolute;left:56.44px;top:721.28px" class="cls_006"><span class="cls_006_normal">111</span></div>
    <div style="position:absolute;left:115.48px;top:731.48px" class="cls_006"><span class="cls_006_normal">112</span></div>
    <div style="position:absolute;left:216.76px;top:731.48px" class="cls_006"><span class="cls_006_normal">113</span></div>
    <div style="position:absolute;left:658.24px;top:746.36px" class="cls_005" id="T239" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T239");'><span class="cls_005">T239</span></div>
    <div style="position:absolute;left:307.12px;top:763.28px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:357.76px;top:763.28px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:466.36px;top:763.28px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:516.88px;top:763.28px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:658.24px;top:765.44px" class="cls_005" id="T240" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T240");'><span class="cls_005">T240</span></div>
    <div style="position:absolute;left:303.88px;top:794.12px" class="cls_005" id="T225" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T225");'><span class="cls_005">T225</span></div>
    <div style="position:absolute;left:391.60px;top:794.12px" class="cls_005" id="T226" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T226");'><span class="cls_005">T226</span></div>
    <div style="position:absolute;left:463.12px;top:794.12px" class="cls_005" id="T231" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T231");'><span class="cls_005">T231</span></div>
    <div style="position:absolute;left:550.84px;top:794.12px" class="cls_005" id="T232" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T232");'><span class="cls_005">T232</span></div>
    <div style="position:absolute;left:307.12px;top:818.24px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:466.36px;top:818.24px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:303.88px;top:849.08px" class="cls_005" id="T227" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T227");'><span class="cls_005">T227</span></div>
    <div style="position:absolute;left:391.60px;top:849.08px" class="cls_005" id="T228" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T228");'><span class="cls_005">T228</span></div>
    <div style="position:absolute;left:463.12px;top:849.08px" class="cls_005" id="T233" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T233");'><span class="cls_005">T233</span></div>
    <div style="position:absolute;left:550.84px;top:849.08px" class="cls_005" id="T234" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T234");'><span class="cls_005">T234</span></div>
    <div style="position:absolute;left:658.24px;top:854.60px" class="cls_005" id="T241" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T241");'><span class="cls_005">T241</span></div>
    <div style="position:absolute;left:388.12px;top:868.52px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:405.64px;top:868.52px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:547.36px;top:868.52px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:564.88px;top:868.52px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:307.12px;top:873.32px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:466.36px;top:873.32px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:99.40px;top:880.88px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:154.36px;top:880.88px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:658.24px;top:874.76px" class="cls_005" id="T242" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T242");'><span class="cls_005">T242</span></div>
    <div style="position:absolute;left:135.52px;top:886.64px" class="cls_008"><span class="cls_008">AA</span></div>
    <div style="position:absolute;left:190.48px;top:886.64px" class="cls_008"><span class="cls_008">AA</span></div>
    <div style="position:absolute;left:303.88px;top:904.04px" class="cls_005" id="T229" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T229");'><span class="cls_005">T229</span></div>
    <div style="position:absolute;left:391.60px;top:904.04px" class="cls_005" id="T230" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T230");'><span class="cls_005">T230</span></div>
    <div style="position:absolute;left:463.12px;top:904.04px" class="cls_005" id="T235" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T235");'><span class="cls_005">T235</span></div>
    <div style="position:absolute;left:550.84px;top:904.04px" class="cls_005" id="T236" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T236");'><span class="cls_005">T236</span></div>
    <div style="position:absolute;left:103.36px;top:914.36px" class="cls_005" id="T244" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T244");'><span class="cls_005">T244</span></div>
    <div style="position:absolute;left:158.92px;top:914.72px" class="cls_005" id="T245" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T245");'><span class="cls_005">T245</span></div>
    <div style="position:absolute;left:658.24px;top:962.84px" class="cls_005" id="T243" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T243");'><span class="cls_005">T243</span></div>
    <div style="position:absolute;left:125.68px;top:980.72px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:176.32px;top:980.72px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:281.32px;top:980.96px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:122.44px;top:1011.44px" class="cls_005" id="T246" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T246");'><span class="cls_005">T246</span></div>
    <div style="position:absolute;left:210.16px;top:1011.44px" class="cls_005" id="T247" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T247");'><span class="cls_005">T247</span></div>
    <div style="position:absolute;left:278.08px;top:1011.80px" class="cls_005" id="T250" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T250");'><span class="cls_005">T250</span></div>
    <div style="position:absolute;left:361.48px;top:1022.36px" class="cls_006"><span class="cls_006_normal">SERVICE</span></div>
    <div style="position:absolute;left:125.68px;top:1035.68px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:281.32px;top:1035.92px" class="cls_004"><span class="cls_004">2</span></div>
    <div style="position:absolute;left:370.84px;top:1035.92px" class="cls_010"><span class="cls_010">ELEV.</span></div>
    <div style="position:absolute;left:481.12px;top:1036.28px" class="cls_010"><span class="cls_010">ELECT.</span></div>
    <div style="position:absolute;left:624.16px;top:1041.80px" class="cls_006"><span class="cls_006_normal">S</span><span class="cls_010">TAIRS</span><span class="cls_006_normal">2</span></div>
    <div style="position:absolute;left:377.44px;top:1052.84px" class="cls_006"><span class="cls_006" id="115" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("115");'>115</span></div>
    <div style="position:absolute;left:491.80px;top:1052.84px" class="cls_006"><span class="cls_006" id="116" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("116");'>116</span></div>
    <div style="position:absolute;left:640.48px;top:1058.36px" class="cls_006"><span class="cls_006_normal">117</span></div>
    <div style="position:absolute;left:122.44px;top:1066.52px" class="cls_005" id="T248" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T248");'><span class="cls_005">T248</span></div>
    <div style="position:absolute;left:210.16px;top:1066.52px" class="cls_005" id="T249" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T249");'><span class="cls_005">T249</span></div>
    <div style="position:absolute;left:278.08px;top:1066.76px" class="cls_005" id="T251" data-toggle="modal" data-target="#BookingModal" onclick='MakeBooking("T251");'><span class="cls_005">T251</span></div>
    <div style="position:absolute;left:642.28px;top:1067.24px" class="cls_002"><span class="cls_002">UP</span></div>
    <div style="position:absolute;left:193.48px;top:1085.84px" class="cls_003"><span class="cls_003">L</span></div>
    <div style="position:absolute;left:185.56px;top:1094.60px" class="cls_004"><span class="cls_004">06</span></div>
    <div style="position:absolute;left:321.40px;top:1094.84px" class="cls_004"><span class="cls_004">06</span></div>
    <div style="position:absolute;left:32.56px;top:1122.32px" class="cls_009"><span class="cls_009">DATE:</span></div>
    <div style="position:absolute;left:264.64px;top:1122.32px" class="cls_009"><span class="cls_009">PROJECT:</span></div>
    <div style="position:absolute;left:40.00px;top:1138.64px" class="cls_005_normal"><span class="cls_005_normal">20121017</span></div>
    <div style="position:absolute;left:272.20px;top:1138.64px" class="cls_005_normal"><span class="cls_005_normal">DESIRE2LEARN-TORONTO</span></div>
    <div style="position:absolute;left:264.64px;top:1157.48px" class="cls_009"><span class="cls_009">DRAWINGTITLE:</span></div>
    <div style="position:absolute;left:89.32px;top:1166.24px" class="cls_005_normal"><span class="cls_005_normal">NOTFORCONSTRUCTION</span></div>
    <div style="position:absolute;left:272.20px;top:1173.44px" class="cls_005_normal"><span class="cls_005_normal">FURNITUREPLAN-ASBUILT</span></div>
</div>


<!-- Modal -->
<div class="modal fade" id="BookingModal" role="dialog" style="z-index:10000000 !important">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title showforbooking">Enter details for booking</h4>
                <h4 class="modal-title showforerror">Information</h4>
            </div>
            <!-- Horizontal material form -->
            <form action="~/Manager/BookingCreate" method="post">

                <div class="modal-body" id="modalBody">
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success showforbooking">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
       $.ajax({
        type: "GET",
        url: "/Manager/GetAllBookedDeskList/",

        success: function (result) {

            for(var i=0;i< result.length;i++)
            { 
                var s =result[i];
                var desk_number = result[i].deskNumber;
                 $("#"+desk_number).find("span").addClass("cls_005_gray");
                 $("#"+desk_number).find("span").removeClass("cls_005");
            }

        },
        error: function (errorData) { onError(errorData); }
    });

    });

    //$("span.cls_005").click(function(){
    //    alert("hi");
    //})

    function MakeBooking(deskNumber)
    {
        var className = $("#"+deskNumber).find("span").attr("class");
        if( className == "cls_005_gray"){

             $(".showforerror").css("display","block");
             $(".showforbooking").css("display","none");
             $("#modalBody").html("");
             $("#modalBody").html("<p>This desk is booked now.</p>");
             return false;
        }
        else{
             $(".showforerror").css("display","none");
             $(".showforbooking").css("display","inline-block");
             $.ajax({
                type: "GET",
                data:{DeskNumber:deskNumber},
                url: "/Manager/GetBookingForm/",

                success: function (viewHTML) {
                   
                    $("#modalBody").html("");
                    $("#modalBody").html(viewHTML);
                },
                error: function (errorData) { onError(errorData); }
            });
        }


    }

    function onError(error){
         $(".showforerror").css("display","block");
             $(".showforbooking").css("display","none");
             $("#modalBody").html("");
             $("#modalBody").html("<p>This desk is not registered from the admin. Please contact admin to register this desk.</p>");
    }
</script>




